<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <!--log4net配置start-->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender_DateFormat" type="log4net.Appender.RollingFileAppender">
      <file value="D:/Log/Demo_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd&quot;.log&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread](%file:%line) %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="RollingLogFileAppender_DateFormat"/>
    </root>
  </log4net>
  <!--log4net配置end-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Host" value="http://61.140.16.205:2458"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.SocketBase" publicKeyToken="6c80000676988ebb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.1" newVersion="1.6.6.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.Common" publicKeyToken="6c80000676988ebb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.1" newVersion="1.6.6.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EbeitXmlWebServicePortBinding"/>
        <binding name="EbeitXmlWebServicePortBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://61.140.16.205:2423/fes/EbeitXmlWebService" binding="basicHttpBinding" bindingConfiguration="EbeitXmlWebServicePortBinding1" contract="ServiceReference1.EbeitXmlWebService" name="EbeitXmlWebServicePort1"/>
      <endpoint address="http://61.140.16.205:2423/fes/EbeitXmlWebService" binding="basicHttpBinding" bindingConfiguration="EbeitXmlWebServicePortBinding" contract="EbigWeChat.EbeitXmlWebService" name="EbeitXmlWebServicePort"/>
    </client>
  </system.serviceModel>
</configuration>
