<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <log4net>
    <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Debug-"/>
      <param name="StaticLogFileName" value="false"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="DEBUG"/>
        <levelMin value="DEBUG"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="【%date - %logger 】: %message%newline"/>
      </layout>
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Error-"/>
      <param name="StaticLogFileName" value="false"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="ERROR"/>
        <levelMin value="ERROR"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="【%date - %logger 】: %message%newline"/>
      </layout>
    </appender>
    <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Info-"/>
      <param name="StaticLogFileName" value="false"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="INFO"/>
        <levelMin value="INFO"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="【%date - %logger 】: %message%newline"/>
      </layout>
    </appender>
    <appender name="WarnLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Warn-"/>
      <param name="StaticLogFileName" value="false"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="WARN"/>
        <levelMin value="WARN"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%message%newline"/>
      </layout>
    </appender>
    <appender name="FatalLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Fatal-"/>
      <param name="StaticLogFileName" value="false"/>
      <appendToFile value="true"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="FATAL"/>
        <levelMin value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="【%date - %logger 】: %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="DebugLogFileAppender"/>
      <appender-ref ref="ErrorLogFileAppender"/>
      <appender-ref ref="InfoLogFileAppender"/>
      <appender-ref ref="WarnLogFileAppender"/>
      <appender-ref ref="FatalLogFileAppender"/>
    </root>
    <logger name="LoggerManager">
      <level value="ALL"/>
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.SocketBase" publicKeyToken="6c80000676988ebb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.1" newVersion="1.6.6.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.Common" publicKeyToken="6c80000676988ebb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.1" newVersion="1.6.6.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EbeitXmlWebServicePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://112.74.178.239:2315/hip/EbeitXmlWebService"
        binding="basicHttpBinding" bindingConfiguration="EbeitXmlWebServicePortBinding"
        contract="EbigWeChat.EbeitXmlWebService" name="EbeitXmlWebServicePort" />
    </client>
  </system.serviceModel>
</configuration>
