<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="DebugLogFileAppender" />
      <appender-ref ref="ErrorLogFileAppender" />
      <appender-ref ref="InfoLogFileAppender" />
      <appender-ref ref="WarnLogFileAppender" />
      <appender-ref ref="FatalLogFileAppender" />
    </root>

    <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Debug-" />
      <param name="StaticLogFileName" value="false" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="DEBUG" />
        <levelMin value="DEBUG" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="【%date - %logger 】: %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Error-" />
      <param name="StaticLogFileName" value="false" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="ERROR" />
        <levelMin value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="【%date - %logger 】: %message%newline" />
      </layout>
    </appender>
    <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Info-" />
      <param name="StaticLogFileName" value="false" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="INFO" />
        <levelMin value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="【%date - %logger 】: %message%newline" />
      </layout>
    </appender>
    <appender name="WarnLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Warn-" />
      <param name="StaticLogFileName" value="false" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="WARN" />
        <levelMin value="WARN" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%message%newline" />
      </layout>
    </appender>
    <appender name="FatalLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Fatal-" />
      <param name="StaticLogFileName" value="false" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="FATAL" />
        <levelMin value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="【%date - %logger 】: %message%newline" />
      </layout>
    </appender>
    
  </log4net>
</configuration>